{% extends "layout.html" %}
{% block title %}Jérôme Mahuet{% endblock %}
{% block content %}
		<article class="ten columns">
			<h2 class="first-heading">About me</h2>
			<img class="me" src="{{ url_for('static', filename='images/meh.png') }}" alt="Jérôme Mahuet">
			<p>My name is <strong>Jérôme Mahuet</strong>, I am a twenty-six 
				year-old developer with sharp design sensibilities. I sit on the
				 fence of both worlds. I’m the kind of guy who learns everything
				  by himself, and each project is a way to push further my 
				  knowledge. I’m currently living in Limoges, France. 
				  When offline I like photography, reading and playing video 
				  games. What a <strong>nerd</strong> indeed.<br>
				  Oh… and I <em>hate</em> when a designer put Lobster everywhere.
			</p>

			<h2>Skills</h2>
			<p>
			<h6>HTML5 / CSS3 / Javascript</h6>
			<span class="progress-bar blue stripes">
				<span style="width: 90%"></span>
			</span>
			<h6>PHP</h6>
			<span class="progress-bar blue stripes">
				<span style="width: 100%"></span>
			</span>
			<h6>Python</h6>
			<span class="progress-bar blue stripes">
				<span style="width: 80%"></span>
			</span>
			<h6>Ruby</h6>
			<span class="progress-bar blue stripes">
				<span style="width: 60%"></span>
			</span>
			<h6>Objective-C</h6>
			<span class="progress-bar blue stripes">
				<span style="width: 80%"></span>
			</span>
			<h6>Photoshop</h6>
			<span class="progress-bar blue stripes">
				<span style="width: 60%"></span>
			</span>
			</p>
			
			{% if entries %}
			<h2>Latest articles</h2>
			<p>I also write <em>often</em> about developer topics on my 
				personal web blog. Actually <em>mostly</em> about developer 
				stuff… There is also some typographical goodness in it. 
				But be warned, this is written in French.
			</p>
			<ul role="articles-list">
			{% for entry in entries %}
			  <li>
			  	<a target="_blank" 
			  	title="{{ entry.title }}" 
			  	href="{{ entry.feedburner_origlink }}">
			  		{{ entry.title }}
			  	</a>
			  </li>
			{% endfor %}
			</ul>
			{% endif %}
		</article>
		<aside class="six columns">
			<h5>About this website</h5>
			<p>
This site was made on a <a href="http://www.apple.com" title="Apple">Mac</a>, 
designed in browser and 
<a href="http://www.adobe.com/" title="Photoshop">Photoshop</a> 
(for the fancy logos). Responsive theme by yours truly. Versioned with 
<a href="http://git-scm.com/" title="Git">Git</a>. 
It is powered by <a href="http://python.org/" title="Python">Python</a> and the 
<a href="http://flask.pocoo.org/" title="Flask">Flask</a> micro-framework. 
Edited with <a href="http://macromates.com/" title="TextMate">TextMate 2</a>. 
The source code is hosted on 
<a href="https://github.com/Rydgel/Personal-Website" title="Github">Github</a>, 
take a look.
			</p>

			<h5>Hosting</h5>
			<p>
				Everything is hosted painlessly on a cloud platform called 
				<a href="http://www.heroku.com/" title="Heroku">Heroku</a> 
				(pronounced her-OH-koo). It’s a fun way of building and 
				deploying web apps.
			</p>

			<h5>Fonts</h5>
			<p>
				All fonts are served up by the wonderful 
				<a href="http://typekit.com/" title="Typekit">Typekit</a>. 
				Body copy is the awesome <a 
				href="http://www.fontshop.com/fonts/downloads/fontfont/ff_quadraat_web/" 
				title="FF Quadraat Web">
					FF Quadraat Web</a> by 
				<a 
					href="http://typedia.com/explore/designer/fred-smeijers/" 
					title="Fred Smeijers">
					Fred Smeijers</a>.
			</p>
			

			{% if dribbble_shots %}
			<h5>Latest Dribbble shot</h5>
			<section role="dribbble-wrapper" class="clearfix">
				{% for dribbble_shot in dribbble_shots %}
					<a target="_blank" href="{{ dribbble_shot.url }}" title="{{ dribbble_shot.title }}">
						<img class="dribbble-shot" 
						src="{{ dribbble_shot.image_teaser_url }}" 
						alt="{{ dribbble_shot.title }}">
					</a>
				{% endfor %}
			</section>
			{% endif %}
			<h5>Social <em>&amp;</em> contact links</h5>
			<ul role="social-links">
				<li>
					<a role="twitter" 
					href="http://twitter.com/phollow" target="_blank" 
					title="@phollow"></a>
				</li>
				<li>
					<a role="dribbble" 
					href="http://dribbble.com/phollow" target="_blank" 
					title="@phollow"></a>
				</li>
				<li>
					<a role="facebook" 
					href="http://facebook.com/rydgel" target="_blank" 
					title="rydgel"></a>
				</li>
				<li>
					<a role="instagram" 
					href="http://statigr.am/rydgel" target="_blank" 
					title="instagram rydgel"></a>
				</li>
				<li>
					<a role="flickr" 
					href="http://flickr.com/rydgel" target="_blank" 
					title="flickr rydgel"></a>
				</li>
			</ul>
		</aside>
{% endblock %}
