<!doctype html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

	<title>Jérôme Mahuet</title>
	<meta name="description" content="">
	<meta name="author" content="Jérôme Mahuet">

	<meta name="viewport" content="width=device-width">

	<link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/skeleton.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

	<script src="{{ url_for('static', filename='js/libs/modernizr-2.5.0.min.js') }}"></script>
</head>
<body>
<!--[if lt IE 7]><p class=chromeframe>Your browser is <em>ancient!</em> <a href="http://browsehappy.com/">Upgrade to a different browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to experience this site.</p><![endif]-->
<div class="container" role="wrapper">
	<header class="container" role="main-header">
		<h1 class="two columns">
			<a href="/" title="Jérôme Mahuet">
				<img src="{{ url_for('static', filename='images/logo.png') }}" alt="Jérôme Mahuet">
			</a>
		</h1>
		<div class="five columns top">
			<p>Jérôme Mahuet—<br>
			hack <em>&</em> design <em>since</em> 1986</p>
	    </div>
		<nav role="main-navigation" class="nine columns">
	    	<ul>
				<li>
					<a href="http://phollow.fr" title="blog">
						<span class="icon icon-blog"></span>
						<span>Blog</span>
					</a>
				</li>
				<li>
					<a href="javascript:void(0);" title="Projects" class="disabled">
						<span class="icon icon-projects"></span>
						<span>Projects</span>
					</a>
			    </li>
				<li>
					<a href="/" title="About">
						<span class="icon icon-about"></span>
						<span>About</span>
					</a>
			    </li>
			</ul>
		</nav>
	</header>
	<section role="main" class="container">
		<div class="nine columns">
			<h2 class="first-heading">About me</h2>
			<p>My name is <strong>Jérôme Mahuet</strong>, I am a twenty-five year old developer.</p>

			<h2>Skills</h2>
			<p>WAT?</p>

			<h2>Latest articles</h2>
			<p>I also write <em>often</em> about developers topics on my personnal web blog. Actually <em>mostly</em> about developers stuff… There is also some typographical goodness in it. But be warned, this is written in french.</p>
			<ul role="articles-list">
			{% for entry in entries %}
			  <li><a target="_blank" title="{{ entry.title }}" href="{{ entry.feedburner_origlink }}">{{ entry.title }}</a></li>
			{% endfor %}
			</ul>
		</div>
		<aside class="seven columns">
			<p><img class="me" src="{{ url_for('static', filename='images/meh.jpg') }}" alt="Jérôme Mahuet"></p>
			<h5>Colophon</h5>
			<p>This internet web site was made on a <a href="http://apple.com/">Mac</a>, using <a href="http://www.panic.com/coda/">Coda</a>, <a href="http://www.panic.com/transmit/">Transmit</a>, <a href="http://iconfactory.com/software/xscope">xScope</a> and <a href="http://www.adobe.com/products/photoshop/photoshop/">Photoshop</a>. The site is powered by <a href="http://wordpress.org/">WordPress</a> while the <a href="http://shop.simplebits.com">shop</a> is powered by <a href="http://bigcartel.com">Big Cartel</a>.</p>
			<p>Webfonts are served up via the wonderful <a href="http://typekit.com/colophons/1MKCHPG">Typekit</a>, and include FF Tisa, Proxima Nova, and Adobe Caslon Pro (for the fancy ampersand).</p>
			<p>Latest <a href="http://dribbble.com">Dribbble</a> shots are pulled into the footer via <a href="http://www.mediahack.com/apps/half-court-shot">Half Court Shot</a>.</p>
			
			<h5>Latest Dribbble shots</h5>
			<section role="dribbble-wrapper" class="clearfix">
				{% for dribbble_shot in dribbble_shots %}
					<a target="_blank" href="{{ dribbble_shot.url }}" title="{{ dribbble_shot.title }}">
						<img class="dribbble-shot" src="{{ dribbble_shot.image_teaser_url }}" alt="{{ dribbble_shot.title }}">
					</a>
				{% endfor %}
			</section>
		</aside>
	</section>
	
	<footer class="container" role="contentinfo">
      <section role="footer-wrapper" class="twelve columns">
	  <nav role="navigation">
	  		<ul>
	  			<li><a href="/">Home</a></li>
	  			<li><a href="http://phollow.fr">Blog</a></li>
	  			<li><a href="http://twitter.com/phollow">Twitter ({{ nb_followers|number_format }} followers)</a></li>
				<li><a href="mailto:rydgel@phollow.fr">Email</a></li>
	  		</ul>
	  	</nav>		
	  	<p>Copyright © 2012 Jérôme Mahuet. All rights reserved.</p>
	  </section>
	  <section role="logo" class="four columns">
		<img src="{{ url_for('static', filename='images/CSS3_Logo_50.png') }}" alt="CSS">
		<img src="{{ url_for('static', filename='images/HTML5_Logo_50.png') }}" alt="HTML5">
	  </section>
	</footer>
	
</div>
<script src="http://use.typekit.com/ucx2ahr.js"></script>
<script>try{Typekit.load();}catch(e){}</script>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>

<script src="{{ url_for('static', filename='js/plugins.js') }}"></script>
<script src="{{ url_for('static', filename='js/script.js') }}"></script>

<script>
  var _gauges = _gauges || [];
  (function() {
    var t   = document.createElement('script');
    t.type  = 'text/javascript';
    t.async = true;
    t.id    = 'gauges-tracker';
    t.setAttribute('data-site-id', '4f46125b613f5d3268000017');
    t.src = '//secure.gaug.es/track.js';
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(t, s);
  })();
</script>

</body>
</html>
