<!doctype html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"><![endif]-->
<!--[if IE 7]><html class="no-js lt-ie9 lt-ie8" lang="en"><![endif]-->
<!--[if IE 8]><html class="no-js lt-ie9" lang="en"><![endif]-->
<!--[if gt IE 8]><!--><html class="no-js" lang="en"><!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <title>{% block title %}{% endblock %}</title>
    <meta name="description" content="My name is Jérôme Mahuet, I am a twenty-six year-old developer.">
    <meta name="author" content="Jérôme Mahuet">
    <meta name="google-site-verification" content="KPTwyDiLP2gAGP1U-jTyHS0qFUhCmEbPIjmiNlUF-zU">
    <meta name="viewport" content="width=device-width">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/screen.css') }}">
    <script src="{{ url_for('static', filename='js/libs/modernizr.min.js') }}"></script>
    <script type="text/javascript">
        (function() {
            var config = {
            kitId: 'ucx2ahr',
            scriptTimeout: 3000
        };
        var h=document.getElementsByTagName("html")[0];h.className+=" wf-loading";var t=setTimeout(function(){h.className=h.className.replace(/(\s|^)wf-loading(\s|$)/g," ");h.className+=" wf-inactive"},config.scriptTimeout);var tk=document.createElement("script"),d=false;tk.src='//use.typekit.net/'+config.kitId+'.js';tk.type="text/javascript";tk.async="true";tk.onload=tk.onreadystatechange=function(){var a=this.readyState;if(d||a&&a!="complete"&&a!="loaded")return;d=true;clearTimeout(t);try{Typekit.load(config)}catch(b){}};var s=document.getElementsByTagName("script")[0];s.parentNode.insertBefore(tk,s)
        })();
    </script>
</head>
<body>

<header>
    <div class="container">
        <div class="avatar">
            <img src="{{ url_for('static', filename='images/round.png') }}" alt="Jérôme Mahuet">
        </div>
        <div class="claim">
            <h1>Jérôme Mahuet</h1>
            <p class="title">Web developer @ <a href="http://statigr.am">statigram</a></p>
            <p class="contact"><a href="http://twitter.com/phollow">@phollow</a> / <a href="mailto:jerome.mahuet@gmail.com">jerome.mahuet@gmail.com</a></p>
        </div>
    </div>
</header>

{% block content %}{% endblock %}

<footer>
    <div class="container">
        Copyright © 2012 Jérôme Mahuet, built with love.
    </div>
</footer>

<script>
  var _gauges = _gauges || [];
  (function() {
    var t   = document.createElement('script');
    t.type  = 'text/javascript';
    t.async = true;
    t.id    = 'gauges-tracker';
    t.setAttribute('data-site-id', '4f46125b613f5d3268000017');
    t.src = '//secure.gaug.es/track.js';
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(t, s);
  })();
</script>

</body>
</html>
