<!doctype html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"><![endif]-->
<!--[if IE 7]><html class="no-js lt-ie9 lt-ie8" lang="en"><![endif]-->
<!--[if IE 8]><html class="no-js lt-ie9" lang="en"><![endif]-->
<!--[if gt IE 8]><!--><html class="no-js" lang="en"><!--<![endif]-->
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

	<title>{% block title %}{% endblock %}</title>
	<meta name="description" content="My name is Jérôme Mahuet, I am a twenty-five year-old developer.">
	<meta name="author" content="Jérôme Mahuet">
	<meta name="google-site-verification" content="KPTwyDiLP2gAGP1U-jTyHS0qFUhCmEbPIjmiNlUF-zU">
	<meta name="viewport" content="width=device-width">

	<link rel="stylesheet" href="{{ url_for('static', filename='css/style.min.css') }}">
	<script src="{{ url_for('static', filename='js/libs/modernizr.min.js') }}"></script>
</head>
<body>
<!--[if lt IE 7]>
<p class=chromeframe>Your browser is <em>ancient!</em> 
	<a href="http://browsehappy.com/">Upgrade to a newer browser</a> or 
	<a href="http://www.google.com/chromeframe/?redirect=true">
		install Google Chrome Frame
	</a> to experience this site.
</p>
<![endif]-->
<div class="container" role="wrapper">
	<header class="container" role="main-header">
		<h1 class="two columns">
			<a href="/" title="Jérôme Mahuet">
				<img src="{{ url_for('static', filename='images/logo.png') }}" alt="Jérôme Mahuet">
			</a>
		</h1>
		<div class="five columns top">
			<p>Jérôme Mahuet —<br>
			hack <em>&amp;</em> design <em>since</em> 1986</p>
		</div>
		<nav role="main-navigation" class="five columns">
	    	<ul>
				<li>
					<a href="http://phollow.fr" title="blog">
						<span class="icon icon-blog"></span>
						<span>Blog</span>
					</a>
				</li>
				<li>
					<a href="/projects" title="Projects">
						<span class="icon icon-projects"></span>
						<span>Projects</span>
					</a>
			    </li>
				<li>
					<a href="/" title="About">
						<span class="icon icon-about"></span>
						<span>About</span>
					</a>
			    </li>
			</ul>
		</nav>
	</header>
	<section role="main" class="container">
		{% block content %}{% endblock %}
	</section>
	
	<footer class="container" role="contentinfo">
      <section role="footer-wrapper" class="twelve columns">
	  <nav role="navigation">
	  		<ul>
	  			<li><a href="/">Home</a></li>
				<li><a href="/projects">Projects</a></li>
	  			<li><a href="http://phollow.fr">Blog</a></li>
	  			<li>
					<a href="http://twitter.com/phollow">
Tw: {% if nb_followers %}{{nb_followers|number_format}}{% endif %}
					</a>
				</li>
	  		</ul>
	  	</nav>		
	  	<p>© 2012 Jérôme Mahuet, built with love.</p>
	  </section>
	  <section role="logo" class="four columns">
<img src="{{ url_for('static', filename='images/CSS3_Logo_50.png') }}" alt="CSS">
<img src="{{ url_for('static', filename='images/HTML5_Logo_50.png') }}" alt="HTML5">
	  </section>
	</footer>
</div>

<script src="http://use.typekit.com/ucx2ahr.js"></script>
<script>try{Typekit.load();}catch(e){}</script>

<script>
  var _gauges = _gauges || [];
  (function() {
    var t   = document.createElement('script');
    t.type  = 'text/javascript';
    t.async = true;
    t.id    = 'gauges-tracker';
    t.setAttribute('data-site-id', '4f46125b613f5d3268000017');
    t.src = '//secure.gaug.es/track.js';
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(t, s);
  })();
</script>

</body>
</html>
